/*
Copyright 2010 GoPandas
This file is part of VisitME.

VisitME is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

VisitME is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with VisitME. If not, see http://www.gnu.org/licenses/.
*/

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.param
{
    font-weight: bold;
}

.designBox
{
    width: 420px;
    height: 90px;
}

.visitMe
{
    font-size: 45px;
    font-weight: bold;
    color: #305E9C;
}