/*
Copyright 2010 GoPandas
This file is part of VisitME.

VisitME is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

VisitME is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with VisitME. If not, see http://www.gnu.org/licenses/.
*/
.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

root { 
    display: block;
}

#loginBg
{
	background-color:#FFF;
	margin:0 auto;
	min-height:450px;
	padding:10px 50px 20px 50px;
	width:100%;
        overflow: hidden;
}
input.login
{
    font-family: sans-serif;
}
#loginPos
{
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 350px;
}
.blockCenter
{
    margin-left: auto;
    margin-right: auto;
}
.textCenter
{
    text-align: center;
}
.bold
{
    font-weight: bold;
}