/*
Copyright 2010 GoPandas
This file is part of Meet Me Half Way ( an extension of VisitME ).

VisitME is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

VisitME is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with VisitME. If not, see http://www.gnu.org/licenses/.
*/
.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mapBox
{
    border-style: solid;
    border-color: #e2e1e1;
}

.midpoint
{
    font-size: 14px;
    font-weight: bold;
    color: green;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.locationTitle
{
    font-size: 27px;
    font-weight: bold;
    margin-right: 2px;
}

.flightInfoBox
{
    width: 418px;
    height: 90px;
    padding: 2px;
    border-collapse: collapse;
    border:0px;
}

.flightCost
{
    font-size: 26px;
    font-weight: bold;
}

.flightPath
{
    font-size: 14px;
    font-weight: bold;
}

.flightDescription
{
    font-size: 10px;
    padding: 5px;
    border: 0px;
    background-color: #e2e1e1;
}

.disclaimer
{
    font-size:10px;
    width: 640px;
}

.hotelLink
{
    font-family: tahoma;
    font-size: 12px;
}

.bold
{
    font-weight: bold;
}
.blockCenter
{
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}


